.WeatherView * {
  margin: 0;
}

.WeatherView .weather-icon {
  display: block;
  font-size: 4rem;
  /* try some solors */
  /* color: rgba(59, 111, 127, 0.4); */
}

.WeatherView h1 {
  font-size: 6rem;
  /* try different weights */
  font-weight: 100;
}

.WeatherView .description {
  margin-top: -2rem;
  /* or try relative position */
  /* position: relative;
  top: -2rem; */

  font-size: 2rem;
}

.WeatherView small {
  font-size: 1.25rem;
}
