.Weather {
  
}

.Weather form {
  margin: 1rem 0;
}

.Weather form input, .Weather form button {
  border: 1px solid;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}

.Weather form input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
}

.Weather form button {
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: aliceblue;
  color: black;
}

.Weather form button:hover {
  background-color: white;
}

.Weather form button:active {
  background-color: black;
  color: white;
  border: 1px solid black;
}